In [43]:
import pandas as pd
import numpy as np

# Series
A Series is a one-dimensional labeled array that can hold any data type. It is similar to a column in a spreadsheet or a single column of data in a database table. A Series consists of two main components: the index and the data. The index provides labels or names for each element in the Series, and the data holds the actual values.

In [44]:
labels = ['a','b','c']
data = [1,2,3]

array = np.array(data)

dictionary = {'a':1,'b':2,'c':3}

In [45]:
series = pd.Series(data=data,index=labels)
print(series)

series = pd.Series(data=array,index=labels)
print(series)

series = pd.Series(dictionary)
print(series)

a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
dtype: int64
a    1
b    2
c    3
dtype: int64

In [46]:
series_1 = pd.Series([1,2,3],['a','b','c'])
series_2 = pd.Series([4,5,6],['a','b','c'])
print(series_1 + series_2)

a    5
b    7
c    9
dtype: int64

# DATAFRAMES
A DataFrame is a two-dimensional labeled data structure, resembling a table or a spreadsheet with rows and columns. It is designed to handle heterogeneous data with different data types. A DataFrame is a collection of Series that share the same index, representing different columns of data.

In [47]:
np.random.seed(101)
data = np.random.randn(5,4)
index = ['A','B','C','D','E']
column = ['W','X','Y','Z']
df = pd.DataFrame(data,index,column)
print(df)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [48]:
print(df['W'])
print(type(df['W']))
print(df[['W','X']])

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64
<class 'pandas.core.series.Series'>
          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

In [49]:
# add new column
df['J'] = df['W'] + df['X'] 
print(df)

          W         X         Y         Z         J
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [50]:
# delete existing column
df = df.drop('J',axis=1)
print(df)
# OR
df.drop('Z',axis=1,inplace=True)
print(df)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509
          W         X         Y
A  2.706850  0.628133  0.907969
B  0.651118 -0.319318 -0.848077
C -2.018168  0.740122  0.528813
D  0.188695 -0.758872 -0.933237
E  0.190794  1.978757  2.605967

In [51]:
# delete an existing row
df.drop('E',axis=0)

          W         X         Y
A  2.706850  0.628133  0.907969
B  0.651118 -0.319318 -0.848077
C -2.018168  0.740122  0.528813
D  0.188695 -0.758872 -0.933237

In [52]:
# shape
# (row,col) - axix 0 , axis - 1
print(df.shape)

(5, 3)

In [53]:
# rows select
print(df.loc['A'])
print(df.iloc[2])

# cell value
print(df.loc['A','X'])

# rows and col
print(df.loc[['A'],['X']])

W    2.706850
X    0.628133
Y    0.907969
Name: A, dtype: float64
W   -2.018168
X    0.740122
Y    0.528813
Name: C, dtype: float64
0.6281327087844596
          X
A  0.628133

In [54]:
df_bool = df > 0
print(df_bool)

       W      X      Y
A   True   True   True
B   True  False  False
C  False   True   True
D   True  False  False
E   True   True   True

In [55]:
print(df[df_bool])
print(df[df>0])

          W         X         Y
A  2.706850  0.628133  0.907969
B  0.651118       NaN       NaN
C       NaN  0.740122  0.528813
D  0.188695       NaN       NaN
E  0.190794  1.978757  2.605967
          W         X         Y
A  2.706850  0.628133  0.907969
B  0.651118       NaN       NaN
C       NaN  0.740122  0.528813
D  0.188695       NaN       NaN
E  0.190794  1.978757  2.605967

In [56]:
print(df['W'] > 0)

# remove rows if W th column value < 0
print(df[df['W'] > 0])

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool
          W         X         Y
A  2.706850  0.628133  0.907969
B  0.651118 -0.319318 -0.848077
D  0.188695 -0.758872 -0.933237
E  0.190794  1.978757  2.605967

In [57]:
# remove rows if W th column value < 0 && print X th column only
print(df[df['W'] > 0]['X'])

# specific column with conditions
print(df[df['W'] > 0][['X','Y']])

# multiple conditions
print(df[(df['W'] > 0) & (df['X'] > 0)])
print(df[(df['W'] > 0) | (df['X'] > 0)])

A    0.628133
B   -0.319318
D   -0.758872
E    1.978757
Name: X, dtype: float64
          X         Y
A  0.628133  0.907969
B -0.319318 -0.848077
D -0.758872 -0.933237
E  1.978757  2.605967
          W         X         Y
A  2.706850  0.628133  0.907969
E  0.190794  1.978757  2.605967
          W         X         Y
A  2.706850  0.628133  0.907969
B  0.651118 -0.319318 -0.848077
C -2.018168  0.740122  0.528813
D  0.188695 -0.758872 -0.933237
E  0.190794  1.978757  2.605967

In [58]:
# reset column index
df_ = df.reset_index()
print(df_)

  index         W         X         Y
0     A  2.706850  0.628133  0.907969
1     B  0.651118 -0.319318 -0.848077
2     C -2.018168  0.740122  0.528813
3     D  0.188695 -0.758872 -0.933237
4     E  0.190794  1.978757  2.605967

In [59]:
new_index = ['AA','AB','AC','AD','AE']
df_
df_['states'] = new_index
df_ = df_.set_index('states')
print(df_)

       index         W         X         Y
states
AA         A  2.706850  0.628133  0.907969
AB         B  0.651118 -0.319318 -0.848077
AC         C -2.018168  0.740122  0.528813
AD         D  0.188695 -0.758872 -0.933237
AE         E  0.190794  1.978757  2.605967

In [60]:
# multiple index
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
print(hier_index)

hier_index = pd.MultiIndex.from_tuples(hier_index)
print(hier_index)

df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])
print(df)

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]
MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )
             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

In [61]:
df.loc['G1']

          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528

In [62]:
df.loc['G1'].loc[1]

A    0.302665
B    1.693723
Name: 1, dtype: float64

In [63]:
df.index.names = ['Groups','Numbers']
print(df.index.names)
print(df)

['Groups', 'Numbers']
                       A         B
Groups Numbers
G1     1        0.302665  1.693723
       2       -1.706086 -1.159119
       3       -0.134841  0.390528
G2     1        0.166905  0.184502
       2        0.807706  0.072960
       3        0.638787  0.329646

In [64]:
df.xs('G1')

                A         B
Numbers
1        0.302665  1.693723
2       -1.706086 -1.159119
3       -0.134841  0.390528

In [65]:
df.xs(1,level='Numbers')

               A         B
Groups
G1      0.302665  1.693723
G2      0.166905  0.184502

MISSING DATA

In [66]:
data = {'A':[1,2,np.nan],'B':[np.nan,9,3],'C':[3,4,6]}
df = pd.DataFrame(data)
print(df)

     A    B  C
0  1.0  NaN  3
1  2.0  9.0  4
2  NaN  3.0  6

In [67]:
# drop rows with missing values
df.dropna(axis=0)

     A    B  C
1  2.0  9.0  4

In [68]:
# thresh - minimum number of non-NaN
df.dropna(axis=0,thresh=2)

     A    B  C
0  1.0  NaN  3
1  2.0  9.0  4
2  NaN  3.0  6

In [69]:
df.fillna(value = 'FILL VALUE')

df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

GROUP BY

In [70]:
data = {'company':['CA','CA','CB','CC'],'person':['PA','PF','PB','PC'],'sales':[12,100,2,30]}
df = pd.DataFrame(data)
print(df)

grp_by_cmpny = df.groupby('company')

print(grp_by_cmpny.mean())
print(grp_by_cmpny.sum())
print(grp_by_cmpny.std())
print(grp_by_cmpny.count())
print(grp_by_cmpny.max())
print(grp_by_cmpny.min())

print(grp_by_cmpny.describe())
print(grp_by_cmpny.describe().transpose())

  company person  sales
0      CA     PA     12
1      CA     PF    100
2      CB     PB      2
3      CC     PC     30
         sales
company
CA        56.0
CB         2.0
CC        30.0
         sales
company
CA         112
CB           2
CC          30
             sales
company
CA       62.225397
CB             NaN
CC             NaN
         person  sales
company
CA            2      2
CB            1      1
CC            1      1
        person  sales
company
CA          PF    100
CB          PB      2
CC          PC     30
        person  sales
company
CA          PA     12
CB          PB      2
CC          PC     30
        sales
        count  mean        std   min   25%   50%   75%    max
company
CA        2.0  56.0  62.225397  12.0  34.0  56.0  78.0  100.0
CB        1.0   2.0        NaN   2.0   2.0   2.0   2.0    2.0
CC        1.0  30.0        NaN  30.0  30.0  30.0  30.0   30.0
company              CA   CB    CC
sales count    2.000000  1.0   1.0
      mean    56.000000  2.0  30.0
      std     62.225397  NaN   NaN
      min     12.000000  2.0  30.0
      25%     34.000000  2.0  30.0
      50%     56.000000  2.0  30.0
      75%     78.000000  2.0  30.0
      max    100.000000  2.0  30.0

<ipython-input-70-0d7902386a6d>:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(grp_by_cmpny.mean())
<ipython-input-70-0d7902386a6d>:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(grp_by_cmpny.sum())
<ipython-input-70-0d7902386a6d>:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(grp_by_cmpny.std())

CONCATENATE , MERGE , JOINING

In [71]:
data = np.random.randn(5,4)
index = ['A','B','C','D','E']
column = ['W','X','Y','Z']
df_1 = pd.DataFrame(data,index,column)
data = np.random.randn(5,4)
df_2 = pd.DataFrame(data,index,column)

# concatination
print(pd.concat([df_1,df_2]))

print(pd.concat([df_1,df_2],axis=1))

          W         X         Y         Z
A -0.497104 -0.754070 -0.943406  0.484752
B -0.116773  1.901755  0.238127  1.996652
C -0.993263  0.196800 -1.136645  0.000366
D  1.025984 -0.156598 -0.031579  0.649826
E  2.154846 -0.610259 -0.755325 -0.346419
A  0.147027 -0.479448  0.558769  1.024810
B -0.925874  1.862864 -1.133817  0.610478
C  0.386030  2.084019 -0.376519  0.230336
D  0.681209  1.035125 -0.031160  1.939932
E -1.005187 -0.741790  0.187125 -0.732845
          W         X         Y         Z         W         X         Y  \
A -0.497104 -0.754070 -0.943406  0.484752  0.147027 -0.479448  0.558769
B -0.116773  1.901755  0.238127  1.996652 -0.925874  1.862864 -1.133817
C -0.993263  0.196800 -1.136645  0.000366  0.386030  2.084019 -0.376519
D  1.025984 -0.156598 -0.031579  0.649826  0.681209  1.035125 -0.031160
E  2.154846 -0.610259 -0.755325 -0.346419 -1.005187 -0.741790  0.187125

          Z
A  1.024810
B  0.610478
C  0.230336
D  1.939932
E -0.732845

In [72]:
# merge
# combine data from multiple DataFrames based on a common column or index
df_1 = pd.DataFrame([[1,2,3],[4,5,6]],['I1','I2'],['C1','C2','C3'])
df_2 = pd.DataFrame([[1,21,32],[7,8,9]],['I4','I5'],['C1','C4','C5'])
df_merged = pd.merge(df_1,df_2,how='inner',on='C1')
print(df_merged)

   C1  C2  C3  C4  C5
0   1   2   3  21  32

In [73]:
# join
# combine DataFrames based on their indexes
# it performs a left join and preserves the index of the left DataFrame.
df_1 = pd.DataFrame([[1,2,3],[4,5,6]],['I1','I2'],['C1','C2','C3'])
df_2 = pd.DataFrame([[1,21,32],[7,8,9]],['I1','I3'],['C4','C5','C6'])
df_join = df_1.join(df_2,how='outer')
print(df_join)

df_join = df_1.join(df_2,how='inner')
print(df_join)

     C1   C2   C3   C4    C5    C6
I1  1.0  2.0  3.0  1.0  21.0  32.0
I2  4.0  5.0  6.0  NaN   NaN   NaN
I3  NaN  NaN  NaN  7.0   8.0   9.0
    C1  C2  C3  C4  C5  C6
I1   1   2   3   1  21  32

OPERATIONS

In [74]:
df = pd.DataFrame({
    'C1' : [1,2,3,4,5,6,7,8,9,10,1],
    'C2' : [111,222,333,444,555,666,777,888,999,1000,111],
    'C3' : ['a','b','c','d','e','f','g','h','i','j','k']
})

# first 10 rows
print(df.head(10))

print(df.tail())

   C1    C2 C3
0   1   111  a
1   2   222  b
2   3   333  c
3   4   444  d
4   5   555  e
5   6   666  f
6   7   777  g
7   8   888  h
8   9   999  i
9  10  1000  j
    C1    C2 C3
6    7   777  g
7    8   888  h
8    9   999  i
9   10  1000  j
10   1   111  k

In [75]:
# unique values
print(df['C1'].unique())
# number of unique values
print(df['C1'].nunique())
# how many times each unique value occured in the column C1
print(df['C1'].value_counts())
# sum
print(df['C1'].sum())

[ 1  2  3  4  5  6  7  8  9 10]
10
1     2
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
Name: C1, dtype: int64
56

In [76]:
df[df['C1']>5]

   C1    C2 C3
5   6   666  f
6   7   777  g
7   8   888  h
8   9   999  i
9  10  1000  j

In [77]:
def times_2(column):
  return column*2

print(df['C1'].apply(times_2))

# applicable to string
# print(df['C1'].apply(len))

print(df['C1'].apply(lambda x : x *2))

0      2
1      4
2      6
3      8
4     10
5     12
6     14
7     16
8     18
9     20
10     2
Name: C1, dtype: int64
0      2
1      4
2      6
3      8
4     10
5     12
6     14
7     16
8     18
9     20
10     2
Name: C1, dtype: int64

In [78]:
df.drop('C1',axis=1)

      C2 C3
0    111  a
1    222  b
2    333  c
3    444  d
4    555  e
5    666  f
6    777  g
7    888  h
8    999  i
9   1000  j
10   111  k

In [79]:
df.columns

Index(['C1', 'C2', 'C3'], dtype='object')

In [80]:
df.index

RangeIndex(start=0, stop=11, step=1)

In [81]:
# sorting
df.sort_values(by='C1',axis=0)

    C1    C2 C3
0    1   111  a
10   1   111  k
1    2   222  b
2    3   333  c
3    4   444  d
4    5   555  e
5    6   666  f
6    7   777  g
7    8   888  h
8    9   999  i
9   10  1000  j

In [82]:
df.isnull()

       C1     C2     C3
0   False  False  False
1   False  False  False
2   False  False  False
3   False  False  False
4   False  False  False
5   False  False  False
6   False  False  False
7   False  False  False
8   False  False  False
9   False  False  False
10  False  False  False

In [83]:
df_1 = pd.DataFrame([[1,2,3],[4,5,6]], index=['I1','I2'], columns=['C1','C2','C3'])
df_pivot = df_1.pivot_table(values='C1', index=['C3'], columns='C2')
print(df_pivot)
#  3,2 are present in a row and c1 value is 1
# 6,5 are present in a row and c1 value is 4

C2    2    5
C3
3   1.0  NaN
6   NaN  4.0

# DATA INPUT & OUTPUT

In [84]:
# sqlalchemy
# lxml
# html5lib
# BeautifulSoup4
# xlrd

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [85]:
root_dir = "/content/drive/MyDrive/ML/"

# csv
df = pd.read_csv(root_dir + 'data.csv')
print(df)

# excel
df = pd.read_excel(root_dir + 'data.xlsx')
print(df)

# save to csv
df.to_csv(root_dir + 'data_saved.csv',index=False)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [90]:
# excel sheet
df = pd.read_excel(root_dir + 'data.xlsx', sheet_name='Sheet1')
print(df)

df.to_excel(root_dir + 'data.xlsx', sheet_name='Sheet2')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [91]:
# HTML
df = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')
print(df)

[                         Bank NameBank           CityCity StateSt  CertCert  \
0                  First Republic Bank      San Francisco      CA     59017
1                       Signature Bank           New York      NY     57053
2                  Silicon Valley Bank        Santa Clara      CA     24735
3                    Almena State Bank             Almena      KS     15426
4           First City Bank of Florida  Fort Walton Beach      FL     16748
..                                 ...                ...     ...       ...
561                 Superior Bank, FSB           Hinsdale      IL     32646
562                Malta National Bank              Malta      OH      6629
563    First Alliance Bank & Trust Co.         Manchester      NH     34264
564  National State Bank of Metropolis         Metropolis      IL      3815
565                   Bank of Honolulu           Honolulu      HI     21029

                 Acquiring InstitutionAI Closing DateClosing  FundFund
0              JPMorgan Chase Bank, N.A.         May 1, 2023     10543
1                    Flagstar Bank, N.A.      March 12, 2023     10540
2    First–Citizens Bank & Trust Company      March 10, 2023     10539
3                            Equity Bank    October 23, 2020     10538
4              United Fidelity Bank, fsb    October 16, 2020     10537
..                                   ...                 ...       ...
561                Superior Federal, FSB       July 27, 2001      6004
562                    North Valley Bank         May 3, 2001      4648
563  Southern New Hampshire Bank & Trust    February 2, 2001      4647
564              Banterra Bank of Marion   December 14, 2000      4646
565                   Bank of the Orient    October 13, 2000      4645

[566 rows x 7 columns]]

In [94]:
df[0].tail(10)

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
556,"NextBank, NA",Phoenix,AZ,22314,No Acquirer,"February 7, 2002",4653
557,Oakwood Deposit Bank Co.,Oakwood,OH,8966,The State Bank & Trust Company,"February 1, 2002",4652
558,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,"January 18, 2002",4651
559,"Hamilton Bank, NA En Español",Miami,FL,24382,Israel Discount Bank of New York,"January 11, 2002",4650
560,Sinclair National Bank,Gravette,AR,34248,Delta Trust & Bank,"September 7, 2001",4649
561,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001",6004
562,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001",4648
563,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001",4647
564,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000",4646
565,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000",4645

In [96]:
# SQL
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:')

In [98]:
df = pd.read_csv(root_dir + 'data.csv')
df.to_sql('my_table',engine)

4

In [105]:
query = 'my_table'
connection = engine.connect()
df_sql = pd.read_sql(query,connection)
df_sql

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15

In [ ]:
pd.read_sql()